Library/
DxLib_VC/
Debug/
Release/
res/
sivira/
yukari/
shall_we_dance_model/
.vs/
# Git‚ÌŠÇ—‰º‚©‚çŠO‚·Šg’£q
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.sdf
*.suo
*.VC.opendb
*.exe


Log.txt
stage1a_bgm.wav